.contentDetails{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    height: 100%;
}

.imgDetails{
    max-width: 300px;
    border: 1px solid black;
    border-radius: 10px;
}

.img{
    width: 100%;
    object-fit: cover;
}

.contentText{
    max-width: 60%;
}

.title{
    font-size: 1.5rem;
    text-transform: uppercase;
}

.descrip{
    font-size: 1.3rem;
}