.main{
    position: relative;
    max-width: 1500px;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.sec1{
    padding: 20px 30px;
    height: 520px;
    width: 100%;
    
}

.sec2{
    padding: 20px 30px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 550px;
}