.contentButton{
    width: 100%;
    display: flex;
    justify-content: start;
    /* border: 1px solid red; */
    width: 100%;
    margin: auto;
    padding: 10px 0;
}

.button{
    background-color: rgb(74, 238, 33);
    border: 0;
    padding: 10px 25px;
    border-radius: 15px;
    font-size: 0.7rem;
    text-transform: uppercase;
    cursor: pointer;
    color: black;
}