.main{
    /* background-color: aqua; */
    
}

.item{
    text-align: center;
    font-size: 1.2rem;
    border: 1px solid grey;
    height: 80px;
}

.img{
    /* height: 100px; */
    height: 100%;
    object-fit: cover;
}

.itemDelete{
    padding: 0 5px;
}

.delete{
    padding: 5px 8px;
    border: 0;
    background-color: rgb(248, 69, 69);
    border-radius: 10px;
    cursor: pointer;
}